*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #2874f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.plus-color{
    color:#f0dd10;
    font-weight: 600;
}

 .logo p {
    color:white;
    position: relative;
    top: -7px;
 }

.search{
    background-color: white;
    width:420px;
    height:20px;
    padding:8px;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    color: #2874f0;
    border-radius: 3px;
    box-shadow: -7px -7px 10px rgb(0,0,0,0.1),
    7px 7px 10px rgb(0,0,0,0.1);
} 
.search input{
    width: 380px;
    border:none;
    outline: none;
    padding: 0 4px;
}
.loginbtn{
    padding: 7px 40px;
    border:none;
    outline: none;
    font-weight: 550;
    color: #2874f0;
}

.navlinks{
    margin: 0 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.angledown i{
    font-size: 10px;

}
.topProductNavbar{
    height:110px;
    display: flex;
    justify-content: center;
    padding :10px 50px;
    border-bottom: 1px solid #ccc;


}

.topProductNavbar_nav{
    width: 80px;
    /* height: 112px; */
    cursor: pointer;
    flex:1;

}

.topProductNavbar_nav img{
    width:64px;
    height:64px;

}
.topProductNavbar_nav p{
    font-weight: 510;
}
.topProductNavbar_nav:hover p{
    color: #2874f0;
}

.topProductNavbar_nav p span{
font-size: 10px;
}